/*
colors: 
 #072D44 
 #064469 
 #5790AB 
 #9CCDD8 
 #D0D7E1
*/
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata&family=Nanum+Gothic+Coding&family=Rufina:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap'); 

@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');

p{
    color: #072d44;
    font-family: 'Zilla Slab', serif;
    font-size: 24px;
    text-align: center;
    margin: auto;
}

header{
    margin: auto;
    width: 1400px;
    height: 200px;
    border-radius: 15px;
}

h1{
    letter-spacing: 5px;
    font-family: 'pixel';
    font-size: 80px;
    display: grid;
    place-content: center;
    text-align: center;
    padding-top: 50px;
    margin: auto;
    color: #9ccdd8;
    text-shadow: 2px 2px 2px rgba(105, 105, 105, 0.674);
}

body{
    width: 1200px;
    background-color: #d0d7e1;
    margin: auto;
}

div#container > header{
    position: relative;
    min-width: 801px;
    max-width: 1200px;
    height: 200px;
    box-shadow: 8px 9px 40px 0px #064469;
    margin: 0px 0px 10px 0px;
    border-radius: 15px 15px 15px 15px;
}

#imagens{
    display: inline-block;
    justify-content: space-between;
}

a{
    width: 200px;
    display: flex;
    justify-content: center;
    background-color: #f0855b;
    border: solid 2px black;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    text-decoration: none;
    color: white;
}

a:hover{
    background-color: #fff;
    color: #f0855b;
    border: solid 2px black;
}