@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata&family=Nanum+Gothic+Coding&family=Rufina:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap'); 

@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');

p{
    font-family: 'Quattrocento', serif;
    font-size: 16px;
    text-align: center;
    margin: auto;
}

body{
    background-color: #f8f7f3;
    max-width: 1200px;
    min-width: 320px;
    margin: auto;
}

h1{
    letter-spacing: 5px;
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 80px;
    display: grid;
    place-content: center;
    text-align: center;
    padding-top: 35px;
    margin: 40px 0px 0px 0px;
    color: #f0855b;
    text-shadow: 2px 2px 2px rgba(105, 105, 105, 0.674);
}

div#container > header{
        position: relative;
        min-width: 801px;
        max-width: 1200px;
        height: 200px;
        box-shadow: 8px 9px 40px 0px #f0855b;
        margin: 0px 0px 10px 0px;
        border-radius: 15px 15px 15px 15px;
}

img{
    border-radius: 15px;
    width: 100%;
    filter: grayscale(100%);
}

img:hover{
    filter: saturate(150%);
}

.imagens-s{
    display: flex;
    justify-content: space-evenly;
}
.imagens-i{
    display: flex;
    justify-content: space-evenly;
}

#boxi:hover{
    transition: all 0.4s;
    transform: scale(1.15) translateY(10px);
}

#boxs:hover{
    transition: all 0.4s;
    transform: scale(1.15) translateY(-10px);
}

h2{
    text-decoration: dotted;
    font-family: 'Rufina', serif;
    font-size: 25px;
    text-align: center;
    color: #ed7444;
}

h3{
    font-size: 30px;
    text-align: center;
    color: #f0855b;
}

blockquote {
    text-align: center;
    color: #ed7444;
}

ul{
    padding: 10px;
    color:#ed7444;
    display:flex;
    justify-content: space-evenly;
}

mark{
    background-color: #f0855bad;
}

#citacoes{
    border: #f0855b solid;
    padding: 20px;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    background-color: #a5a5a543;
    border-radius: 20px;
    height: 150px;
}

#citacoes > p{
    font-size: 18px;
}

nav a{
    transition-duration: 0.25s;
    border-radius: 5px;
    padding-bottom: 20px;
    margin-top: 0px;
    display: flex;
    justify-content:space-between;
    text-decoration:none;
    color:white;
}

nav a:hover{
    transition: all .4s;
    transform: scale(1.1) translateY(-5px);
    background-color: transparent;
    color: #f0855b;
}
        
footer{
    background-color: #f0855b;
    border-radius: 20px;
}
        
footer > p {
    font-size: 12px;
    display: flex;
    justify-content: center;
}
        
footer > h3{
    margin: 16px 0px 0px 0px;
    font-size: 16px;
    display:flex;
    justify-content:center;
    text-align:center;
    color: #ffffff;
    text-shadow: none;
}

footer > p > a{
    text-decoration: none;
    color: white;
}

footer > p > a:hover{
    color: black;
}
        
        