/*
colors: 
 #072D44 
 #064469 
 #5790AB 
 #9CCDD8 
 #D0D7E1
*/

@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata&family=Nanum+Gothic+Coding&family=Rufina:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap'); 

@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');

p{
    color: #072d44;
    font-family: 'Zilla Slab', serif;
    font-size: 24px;
    text-align: center;
    margin: auto;
}

body{
    background-color: #d0d7e1;
    max-width: 1200px;
    min-width: 320px;
    margin: auto;
}

h1{
    letter-spacing: 5px;
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 80px;
    display: grid;
    place-content: center;
    text-align: center;
    padding-top: 35px;
    margin: 40px 0px 0px 0px;
    color: #9CCDD8 ;
    text-shadow: 2px 2px 2px rgba(105, 105, 105, 0.674);
}

div#container > header{
        position: relative;
        min-width: 801px;
        max-width: 1200px;
        height: 200px;
        box-shadow: 8px 9px 40px 0px #064469;
        margin: 0px 0px 10px 0px;
        border-radius: 15px 15px 15px 15px;
}

img{
    border-radius: 15px;
    width: 100%;
    filter: grayscale(100%);
}

img:hover{
    filter: saturate(150%);
}

.imagens-s{
    display: flex;
    justify-content: space-evenly;
}
.imagens-i{
    display: flex;
    justify-content: space-evenly;
}

#boxi:hover{
    transition: all 0.6s;
    transform: scale(1.15) translateY(10px);
}

#boxs:hover{
    transition: all 0.6s;
    transform: scale(1.15) translateY(-10px);
}

h2{
    text-decoration: dotted;
    font-family: 'sub', serif;
    font-size: 25px;
    text-align: center;
    color: #5790AB;
}

h3{
    font-family: 'subs';
    font-size: 30px;
    text-align: center;
    color: #064469;
}

blockquote {
    text-align: center;
    color: #5790AB;
}

ul{
    padding: 10px;
    color:#5790AB;
    display:flex;
    justify-content: space-evenly;
}

mark{
    color: #072d44;
    background-color: #9CCDD8;
}

.citacoes{
    border: 5px #9CCDD8 solid;
    padding: 20px;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    background-color: #a5a5a543;
    border-radius: 20px;
    height: 150px;
}

.citacoes > p{
    font-size: 18px;
}

#wellington{
    padding: 55px;
}

#andre{
    padding: 55px;
}

nav a{
    transition-duration: 0.25s;
    border-radius: 5px;
    padding-bottom: 20px;
    margin-top: 0px;
    display: flex;
    justify-content:space-between;
    text-decoration:none;
    color:white;
}

nav a:hover{
    transition: all .8s;
    transform: scale(1.1) translateY(-5px);
    background-color: transparent;
    color: #5790AB;
}
        
footer{
    padding: 8px;
    background-color: #9CCDD8;
    border-radius: 20px;
}
        
footer > p {
    font-size: 12px;
    display: flex;
    justify-content: center;
}
        
footer > h3{
    margin: 16px 0px 0px 0px;
    font-size: 16px;
    display:flex;
    justify-content:center;
    text-align:center;
    color: #ffffff;
    text-shadow: none;
}

footer > p > a{
    width: 800px;
    font-size: 18px;
    text-decoration: none;
    color: white;
    transition: all 2s;
}

footer > p > a:hover{
    letter-spacing:  7px;
    color: black;
}
        
main{
    width: 1200px;
    margin: auto;
}