/*
colors: 
 #072D44 
 #064469 
 #5790AB 
 #9CCDD8 
 #D0D7E1
*/
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata&family=Nanum+Gothic+Coding&family=Rufina:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap'); 

@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');

*{
    align-items: center;
}

p{
    color: #072d44;
    font-family: 'text';
    font-size: 18px;
    text-align: center;
    margin: auto;
}

header > h1{
    letter-spacing: 5px;
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 85px;
    display: grid;
    place-content: center;
    text-align: center;
    padding-top: 50px;
    margin: 40px 0px 0px 0px;
    margin-bottom: 15px;
    color: #9ccdd8;
    text-shadow: 2px 2px 2px rgba(105, 105, 105, 0.674);
}

h2{
    font-family: 'sub';
    margin: 30px 0px 30px 0px;
    display: flex;
    font-size: 26px;
    justify-content: center;
    color: #064469;
}

h3{
    font-size: 22px;
    font-family: 'sub';
    margin: 30px 0px 30px 0px;
    display: flex;
    justify-content: center;
    color: #9ccdd8;
}

h4{
    font-size: 16px;
}

body{
    margin: auto;
    min-width: 320px;
    max-width: 1200px;
    background-color: #d0d7e1;
}

div#container > header{
    position: relative;
    align-items: center;
    max-width: 1200px;
    height: 200px;
    box-shadow: 8px 9px 40px 0px #064469;
    border-radius: 15px 15px 15px 15px;
}

#imagens > img{
    border-radius: 15px;
    display:inline-block;
    justify-content: center;
    width: 100%;
    height: 400px;
}

#imagem > img{
    border-radius: 15px;
    display:inline-block;
    justify-content: center;
    width: 100%;
    height: 400px;
}

#imagem{
    display: flex;
    justify-content: left;
}

#imagens{
    display: flex;
    justify-content: right;
}

#link{
    border-radius: 10px;
    background-color: #f1652992;
    text-decoration: none;
    color: #54230e;
}

#btn{
    font-family: 'subs';
    font-size: 19px;
    width: 400px;
    display: flex;
    justify-content: center;
    background-color: #072d44;
    border: solid 2px white;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    text-decoration: none;
    color: #d0d7e1;
}

#btn:hover{
    transition: all .8s;
    background-color: #9ccdd8;
    color: #064469;
    border: solid 2px black;
}

#html h4{
    color: #F16529;
    text-align: center;
    font-family: 'sub';
}

#html p{
    color: #54230e;
}

ul{
    width: 100%;
}

li{
    width: 100%;
    margin: auto;
}

#tags{
    color: #54230e;
    margin: auto;
}

#css h4{
    text-align: center;
    font-family: 'sub';
    color: #306DF1;
}

#css > img{
    width: 100%;
    display: inline-block;
}

#css > p{
    color: #072d44;
}

#Js > h4{
    color: #F4CB0B;
    text-align: center;
    font-family: 'sub';
}

#Js > p{
    color: #594904;
}

#exemplo > h4{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    width: 400px;
    transform: scale(1.25);
    text-align: center;
    margin: auto;
}

#exemplo > h4:hover{
    display: block;
    width: 400px;
    border-radius: 10px;
    background-color: #9ccdd8;
    border: 1.5px 1.5px 1.5px grey;
    transition: all 1.2s;
    text-align: center;
    font-family: 'sub';
    color: #306DF1;
    text-shadow: 2px 2px 2px #072d44;

}

iframe{
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 15px;
}

.sites-s{
    display: inline-block;
}

.sites-s img{
    filter: grayscale(100%);
    max-width: 300px;
    height: 150px;
    border-radius: 15px;
}

.sites-s img:hover{
    filter: saturate(110%);
    transform: scale(1.15);
    transition: all 1.2s;
}

footer{
    padding: 3px;
    background-color: #9CCDD8;
    border-radius: 20px;
}
        
footer > p {
    font-size: 12px;
    display: flex;
    justify-content: center;
}
        
footer > h3{
    margin: 16px 0px 0px 0px;
    font-size: 16px;
    display:flex;
    justify-content:center;
    text-align:center;
    color: #ffffff;
    text-shadow: none;
}

footer > p > a{
    width: 800px;
    font-size: 18px;
    text-decoration: none;
    color: white;
    transition: all 2s;
}

footer{
    padding: 8px;
    background-color: #9CCDD8;
    border-radius: 20px;
}
        
footer > p {
    font-size: 12px;
    display: flex;
    justify-content: center;
}
        
footer > h3{
    margin: 16px 0px 0px 0px;
    font-size: 16px;
    display:flex;
    justify-content:center;
    text-align:center;
    color: #ffffff;
    text-shadow: none;
}

footer > p > a{
    width: 800px;
    font-size: 18px;
    text-decoration: none;
    color: white;
    transition: all 2s;
}

footer > p > a:hover{
    letter-spacing:  7px;
    color: black;
}