/*
colors: 
 #072D44 
 #064469 
 #5790AB 
 #9CCDD8 
 #D0D7E1
*/
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata&family=Nanum+Gothic+Coding&family=Rufina:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap'); 

@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');

body{
    background-color: #d0d7e1;
    max-width: 1200px;
    margin: auto;
}

header > h1{
    letter-spacing: 5px;
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 60px;
    display: grid;
    place-content: center;
    text-align: center;
    padding-top: 50px;
    margin: auto;
    margin-bottom: 15px;
    color: #9ccdd8;
    text-shadow: 2px 2px 2px rgba(105, 105, 105, 0.674);
}

#hdr{
    position: relative;
    align-items: center;
    box-shadow: 8px 9px 40px 0px #064469;
}

h2{
    font-family: 'sub';
    text-align: center;
    color: #064469;
}

h3, h4{
    color: #9ccdd8;
    font-family: 'sub';
    text-align: center;
}

h4{
    color: rgba(2, 138, 138, 0.26);
}

p{
    color: #072d44;
    text-align: center;
    font-size: 22px;
    font-family: 'text';
}

#btn{
    font-family: 'subs';
    font-size: 25px;
    width: 400px;
    display: flex;
    justify-content: center;
    background-color: #072d44;
    border: solid 2px white;
    border-radius: 10px;
    padding: 40px;
    margin: auto;
    text-decoration: none;
    color: #d0d7e1;
}

#btn:hover{
    transition: all .8s;
    background-color: #9ccdd8;
    color: #064469;
    border: solid 2px black;
}

img{
    width: 700px;
    height: 500px;
    border-radius: 10px;
}

.imagens{
    display: flex;
    justify-content: center;
}
footer{
    align-items: center;
    padding: 8px;
    background-color: #9CCDD8;
    border-radius: 20px;
}
        
footer > a{
    font-size: 20px;
    display: inline-block;
    justify-content: center;
}
        
footer > h3{
    margin: 16px 0px 0px 0px;
    font-size: 16px;
    display:flex;
    justify-content:center;
    text-align:center;
    color: #ffffff;
    text-shadow: none;
}

 footer a{
    padding: 10px;
    color: white;
    font-family: 'text' ;
    text-decoration: none;
    transition: all 2s;
}

#final {
    display: inline-block;
    width: 100%;
    font-size: 18px;
    text-decoration: none;
    color: white;

}

footer > a:hover{
    letter-spacing:  7px;
    color: black;
}

#final{
    align-items: center;
    text-align: center;
    display: inline-block;
}

a {
    display: inline-block;
}